.img-actualite img {
    width: 100%;
    border-radius: 3%;
}

.item-act p {
    font-size: 18px;
    font-weight: bold;
}

.item-act {
    text-align: center;
    box-shadow: 1px 2px 2px 2px #f3f3f3;
    background: white;
    margin-bottom: 38px;
}

.line-act {
    margin-bottom: 50px;
}

.item-act p {
    margin-top: 23px;
}

.link-actu {
    margin-top: 24px;
    padding-bottom: 19px;
    position: relative;
    display: inline-block;
}

.link-actu::before {
    content: "";
    background: black;
    width: 28%;
    height: 5%;
    position: absolute;
    left: -3px;
    top: 10px;
}

.link-actu a {
    color: black;
    font-size: 18px;
    margin-left: 60px;
    transition: .2s ease all;
}

.link-actu a:hover {
    margin-left: 51px;
    text-decoration: none;
    color: black;
}

.content-actu .container {
    padding: 0;
}

.section-content-actu {
    background: url(/customerAsset/images/actualite/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x: 321px;
}
.section-content-actu p {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: bold;
}

div#swiper-wrapper-f43677758891094ed p {
    font-size: 18px;
}

.title-page-content p {
    font-size: 25px;
    font-weight: 100;
}

.content-savoir-faire p {
    font-size: 18px;
    margin-bottom: 40px;
}

.content-actu p img {
    margin-top: 40px;
    margin-bottom: 40px;
}

.content-actu .row {
    margin-top: 40px;
    margin-bottom: 40px;
}

.content-actu p {
    font-weight: 400;
}

p.tt-gr {
    font-weight: bold !important;
}