/*.section-padding {
    width: 1050px;
    margin: 0 auto;
}*/
.owl-item .item {
  /* transform: translate3d(0, 0, 0);  DO NOT REMEMBER WHERE TU PUT THIS, SEARCH FOR 3D ACCELERATION */
  /*transform: scale(0.9);*/

  /*transition: all .25s ease-in-out; */
 /* margin: 50px 0;  OVERWRITE PLUGIN MARGIN */
 }

/*.screenshot_slider .owl-item .item img {
    -webkit-transition: 0.3s;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    -o-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: scale(0.80);
    -ms-transform: scale(0.80);
    transform: scale(0.80);
}*/

.screenshot_slider .owl-item.center .item  {
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}

.screenshot_slider .owl-item.center .description  {
    position: absolute;
    top: 0;
    height: 326px;
    background: rgb(242, 242, 242);
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    width: 292px;
}

.screenshot_slider .owl-item.center .t-1:hover .description {
    opacity: 1;
    visibility: visible;
    transition: all .2s ease;
}

/*.screenshot_slider .owl-item.center 
{
    position: absolute;
    top: 0;
    height: 319px;
    background: #F2F2F2;
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    width: 342px;
}*/



.screenshot_slider .owl-nav {
    text-align: center;
    /* margin: 40px 0;*/
}

.screenshot_slider .owl-nav button {
    font-size: 24px !important;
    margin: 10px;
    color: #848587 !important;
}