.forms-contact fieldset {
    padding: 78px;
    box-shadow: 3px 2px 9px 5px #e8e8e8;
}

.forms-contact input,
textarea {
    margin-bottom: 20px;
}

.btn-send button {
    color: black;
    background: #FFB620;
    padding: 11px 60px 10px 60px;
    border-radius: 18px;
    border-style: none !important;
}

.btn-send {
    text-align: center;
    margin-top: 51px;
}

.forms-contact span {
    font-size: 11px;
}

.coordonnes h4 {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
}

.coordonnes {
    font-size: 15px;
    padding-left: 70px;
    left: 115px;
}

.coordonnes p {
    font-weight: bold;
    font-size: 22px;
    margin-top: 70px;
}

.btn-- a {
    color: black;
    font-size: 18px;
}

.btn-- a:hover {
    text-decoration: none;
    margin-left: 40px;
    color: black;
}

.btn-- {
    position: relative;
}

.btn-- a {
    margin-left: 35px;
    transition: .2s ease all;
}

.btn-- a::before {
    content: "";
    background: black;
    width: 26%;
    height: 6%;
    position: absolute;
    top: 55%;
    left: -29px;
}

.second-link p {
    margin-left: 31px;
}

.second-link a:hover {
    color: #0056b3;
    text-decoration: none !important;
}

.section-content {
    background: url(/customerAsset/images/contact/background-1.png);
    background-size: 100% 100%;
    background-position-x: -527px;
    background-repeat-x: no-repeat;
}

ul.cont-mobile li {
    margin-left: 29px;
    font-size: 18px;
}

ul.cont-mail li {
    margin-left: 29px;
    font-size: 18px;
}

ul.cont-mobile::before {
    content: "\f10b";
    font-family: 'FontAwesome';
    position: absolute;
    left: 10px !important;
    font-size: 47px;
    top: 50px;
}

ul.cont-mail::before {
    content: "\f003";
    font-family: 'FontAwesome';
    position: absolute;
    font-size: 30px;
    left: 5px;
}

ul.cont-mail li {
    font-size: 22px;
}

ul.cont-mobile li {
    font-size: 22px;
}

.btn-send button:hover {
    text-decoration: none;
    background: #204f79;
    color: white;
}

.coordonnes .btn-- a::before {
    content: "";
    background: black;
    width: 10%;
    height: 6%;
    position: absolute;
    top: 55%;
    left: -21px;
}

.hero-- {
    position: absolute;
    top: 49px;
    left: 270px;
}

.items-menu ul a:hover {
    margin-left: 5px;
}

.items-menu ul a {
    transition: all .3s ease;
}