
h1 {
    text-align: center;
    padding-top: 16px;
}
#nav-toggle {
    position: absolute;
    top: 25px;
    right: 125px;
    height: 32px;
    cursor: pointer;
}
#nav-toggle > div {
	position: relative;
	width: 36px;
}
#nav-toggle span {
    width: 100%;
    height: 1px;
    left: 0;
    display: block;
    background: white;
    position: absolute;
    transition: transform 0.6s ease-in-out, top 0.5s ease;
}
#nav-toggle span:nth-child(1) {
	top: 0;
}
#nav-toggle span:nth-child(2) {
	top: 14px;
}
#nav-toggle span:nth-child(3) {
	top: 28px;
}
#nav-toggle:hover span:nth-child(1) {
	top: 4px;
}
#nav-toggle:hover span:nth-child(3) {
	top: 23px;
}
.open #nav-toggle span {
	background: #fff;
}
.open #nav-toggle span:nth-child(1) {
	top: 15px;
	transform: rotate(45deg);
}
.open #nav-toggle span:nth-child(2) {
	top: 15px;
	width: 0;
	left: 50%;
}
.open #nav-toggle span:nth-child(3) {
	top: 15px;
	transform: rotate(-45deg);
}
/* z-index */
#nav-toggle {
	z-index: 1000;
}
#container {
	z-index: 900;
}
#gloval-nav {
	background: #000;
	color: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 990;
	text-align: center;
	display: flex;
	visibility: hidden;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 29px;
	opacity: 0;
	transition: opacity 0.6s ease, visibility 0.6s ease;
}
#gloval-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px 0;
    transition: color 0.6s ease;
    text-align: left;
}
#gloval-nav a:hover {
	color: #666;
}
#gloval-nav ul {
	list-style: none;
}
#gloval-nav ul li {
	opacity: 0;
	transform: translateX(200px);
	transition: transform 0.6s ease, opacity 0.2s ease;
}
#gloval-nav ul li:nth-child(2) {
	transition-delay: 0.15s;
}
#gloval-nav ul li:nth-child(3) {
	transition-delay: 0.3s;
}
#gloval-nav ul li:nth-child(4) {
	transition-delay: 0.45s;
}
#gloval-nav ul li:nth-child(5) {
	transition-delay: 0.6s;
}
#gloval-nav ul li:nth-child(6) {
	transition-delay: 0.75s;
}
#gloval-nav ul li:nth-child(7) {
	transition-delay: 0.9s;
}
/* open */
.open {
	overflow: hidden;
}
.open #gloval-nav {
	visibility: visible;
	opacity: 1;
}
.open #gloval-nav li {
	opacity: 1;
	transform: translateX(0);
	transition: transform 1s ease, opacity 0.9s ease;
}
