/* section projects */

.img-projects img {
    width: 100%;
    height: 500px;
}

div#gloval-nav ul {
    width: 189px;
    margin: 0 auto;
}

.tabs-projects {
    background: #255695;
}

.txt-projects {
    margin-top: 100px;
    color: white;
}

.txt-projects {
    margin-top: 100px;
    color: white;
    padding-right: 260px;
}

.txt-projects .link-actu::before {
    content: "";
    background: #cccf45 !important;
    width: 28%;
    height: 5%;
    position: absolute;
    left: -15px;
    top: 10px;
}

.project-link a {
    color: #d9d91c !important;
}

.txt-project p {
    font-size: 25px;
    font-weight: 100;
}


/*end section projects */

ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

li {
    padding: 0;
    margin: 0;
}

nav {
    text-align: center;
    width: 100%;
    position: relative;
    height: auto;
    overflow: hidden;
    background: none;
}


/*nav ul {
	text-align:center;
}
nav ul li {
	display:inline-block;
}
nav ul li a {
	color:#333;
	display:inline-block;
	padding:1em 3em;
	text-decoration:none;
	border-bottom:2px solid #fff;
	transition-property:all .2s linear 0s;
	-moz-transition:all .2s linear 0s;
	-webkit-transition:all .2s linear 0s;
	-o-transition:all .2s linear 0s;
	font-size:16px;
}
nav ul li a:hover {
	color: #34B484;
}*/


/*styling open close button*/

.button {
    display: inline;
    position: absolute;
    right: 50px;
    top: 6px;
    z-index: 999;
    font-size: 30px;
}

.button a {
    text-decoration: none;
}

.btn-open:after {
    color: #ffff;
    content: "\f0c9";
    font-family: "FontAwesome";
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
}


/*.btn-open:hover:after {
	color:#34B484;
}*/

.btn-close:after {
    color: #fff;
    content: "\f00d";
    font-family: "FontAwesome";
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
}


/*.btn-close:hover:after {
	color: #34B484;
}*/


/*overlay*/

.overlay {
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background: #333;
    overflow: auto;
    z-index: 99;
}

.wrap {
    color: #e9e9e9;
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
}

.wrap ul.wrap-nav {
    border-bottom: 1px solid #575757;
    text-transform: capitalize;
    padding: 150px 0px 100px;
}

.wrap ul.wrap-nav li {
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
    width: 24%;
    position: relative;
}

.wrap ul.wrap-nav li a {
    color: #34B484;
    display: block;
    padding: 8px 0;
    text-decoration: none;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
}

.wrap ul.wrap-nav li a:hover {
    color: #f0f0f0;
}

.wrap ul.wrap-nav ul {
    padding: 20px 0;
}

.wrap ul.wrap-nav ul li {
    display: block;
    font-size: 13px;
    width: 100%;
    color: #e9e9e9;
}

.wrap ul.wrap-nav ul li a {
    color: #f0f0f0;
}

.wrap ul.wrap-nav ul li a:hover {
    color: #34B484;
}

.social {
    font-size: 25px;
    padding: 20px;
}

.social p {
    margin: 0;
    padding: 20px 0 5px 0;
    line-height: 30px;
    font-size: 13px;
}

.social p a {
    color: #34B484;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.social-icon {
    width: 80px;
    height: 50px;
    background: #e9e9e9;
    color: #333;
    display: inline-block;
    margin: 0 20px;
    transition-property: all .2s linear 0s;
    -moz-transition: all .2s linear 0s;
    -webkit-transition: all .2s linear 0s;
    -o-transition: all .2s linear 0s;
}

.social-icon:hover {
    background: #34B484;
    color: #f0f0f0;
}

.social-icon i {
    margin-top: 12px;
}

.content {
    width: 100%;
    margin-top: 50px;
    font-size: 14px;
    color: #333;
}

.title-page-header {
    text-align: center;
    color: white;
}

header {
    background: url(/customerAsset/images/contact/bg-header.png);
    padding-bottom: 45px;
    padding-top: 30px;
}

.logo {
    display: inline-block;
    margin-top: 12px;
}

.logo img {
    width: 50%;
}

.nav {
    display: initial !important;
}

.txt-slide {
    position: absolute;
    left: 29%;
    top: 35%;
    color: white;
}

.teams-chiffres {
    background: url(/customerAsset/images/apropos/bg_about_personal.png);
    margin-top: 260px;
    position: relative;
    display: none;
}

.he-chiffres img {
    width: 75%;
}

.txt-slide::after {
    content: url(/customerAsset/images/accueil/forme.png);
    position: absolute;
    right: -21px;
    top: -60px;
}

.txt-slide h1 {
    font-weight: lighter;
    font-size: 44px;
    text-align: left;
}

.txt-slide h1 span {
    font-weight: bold;
}

div#header {
    position: absolute;
    width: 100%;
    z-index: 99;
    top: 15px;
}

.slider- img {
    width: 100%;
    height: auto;
}

.title-page-content p {
    /* font-weight: bold; */
    /* font-size: 27px; */
    font-size: 25px;
    font-weight: 100;
}

.title-page-content:before {
    content: " ";
    width: 4%;
    height: 2%;
    background: black;
    position: absolute;
    top: 19%;
    left: 0px;
}

.content-savoir-faire .title-page-content:before {
    content: " ";
    width: 4%;
    height: 2%;
    background: black;
    position: absolute;
    top: 13%;
    left: 0px;
}

.title-page-content {
    position: relative;
    margin-bottom: 40px;
}

.build-family-project p {
    font-weight: bold;
    font-size: 27px;
}

.title-page-content h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    text-transform: uppercase;
    margin-left: 50px;
}

.content-actu {
    margin-bottom: 20px;
}


/* design footer*/

.section-footer {
    margin-top: 70px;
}

.items-menu li a {
    color: black;
}

.items-menu li {
    margin-bottom: 12px;
}

span.num {
    margin-right: 20px;
}

.items-menu li a:hover {
    text-decoration: none;
}

.newletters-footer h3 {
    font-size: 20px;
    font-weight: bold;
}

.newletters-footer input {
    margin-bottom: 20px;
    border-radius: 30px;
    width: 100%;
    background: #F9F9F9;
    border-style: none;
}

.btn-abonner button {
    color: white;
    background: #205078;
    padding: 8px 68px 8px 68px;
    border-radius: 30px;
    width: 100%;
    border-style: none !important;
}

.btn-abonner button:focus {
    outline: 1px dotted;
    outline: none !important;
}

.btn-abonner button:hover {
    text-decoration: none;
    background: #ffb620;
    color: white;
    border-style: none !important;
}

.footer-RS {
    margin-top: 20px;
    text-align: center;
}

.footer-RS .fa {
    font-size: 21px;
}

.footer-RS ul li {
    list-style: none;
    display: inline-block;
}

.footer-RS ul {
    position: relative;
}

.footer-RS ul::after {
    content: "";
    background: black;
    width: 68.6%;
    height: 9%;
    top: 10px;
    position: absolute;
}

.footer-RS ul li::before {
    content: "";
    background: black;
    width: 100%;
    height: 9%;
    top: 10px;
    /* left: -120px; */
    right: 54%;
    position: absolute;
}

.first-link ul li {
    list-style: none;
    display: inline-block;
    margin-right: 22px;
}

.first-link ul li a {
    color: black;
}

.first-link ul li a:hover {
    text-decoration: none;
}

.forms-contact form {
    background: white;
}

.build-family-project {
    background: #FFB620;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top: 60px;
}

.section-footer .container {
    width: 1050px;
}

header .container {
    width: 1050px;
}

.section-content .container {
    width: 1050px;
}

body {
    overflow-x: hidden !important;
}

a.btn-open:hover {
    text-decoration: none;
}

.build-family-project .container {
    width: 1050px;
}

.img-more img {
    width: 100%;
}

.first-img-actu img {
    width: 100%;
}

.line-act .col-sm-6 {
    padding-left: 0;
}

.title-o-act h2 {
    font-size: 30px;
    font-weight: bold;
    margin-left: 50px;
    position: relative;
}

.title-o-act::before {
    content: "";
    background: black;
    width: 47px;
    height: 2px;
    position: absolute;
    left: 0;
    top: 54%;
}

.title-o-act {
    position: relative;
    margin-top: 35px;
    margin-bottom: 35px;
}


/* Page Apropos */

.sec .container {
    width: 1050px;
}

.img-hist img {
    width: 100%;
    height: auto;
}

.txt-history p {
    font-size: 18px;
}

.title-with-img h5 {
    margin-bottom: 25px;
}

.title-with-img h5 {
    font-weight: bold !important;
}

.img-mission-v img {
    width: 100%;
}

.missions-V {
    text-align: right;
    margin-top: 40px;
    margin-bottom: 40px;
}

.txt-mission {
    margin-top: 50px;
}

.img-strength img {
    width: 100%;
}


.title-page-content-- h2 {
    font-weight: 100;
}

.title-page-content--- h2 {
    font-weight: 100;
}

.title-page-content-- {
    position: relative;
}

.title-page-content--- h2 {
    margin-left: 39px;
    font-weight: bold;
    text-transform: uppercase;
}

.title-page-content--- {
    position: relative;
}

.title-page-content---::before {
    content: "";
    width: 7%;
    height: 5%;
    position: absolute;
    background: black;
    left: 0;
    top: 20px;
}

.title-page-content--::before {
    content: "";
    width: 4%;
    height: 5%;
    position: absolute;
    background: black;
    left: 0;
    top: 20px;
}

.title-page-content-- h2 {
    margin-left: 46px;
    font-weight: bold;
    text-transform: uppercase;
}

.missions-V h2 {
    font-weight: bold;
    text-transform: uppercase;
}

.missions-V {
    position: relative;
}

.missions-V h2::before {
    content: "";
    width: 5%;
    height: 5%;
    background: black;
    position: absolute;
    left: 52%;
    top: 22px;
}

.txt-projects h3 {
    font-weight: bold;
}

.he-chiffres {
    text-align: center;
    margin-top: 30px;
    position: absolute;
    top: -260px;
}

.he-chiffres h2 {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
}

.teams {
    margin-top: 30px;
}

.img-team img {
    width: 100%;
}

.team-- {
    box-shadow: inset -3px -2px 1px 0px #fbfbfb;
    min-height: 320px;
    background: white;
}

.team-- h4 {
    padding-top: 15px;
    text-align: center;
}

.description {
    position: absolute;
    top: 16px;
    height: 326px;
    background: rgb(242, 242, 242);
    padding: 15px;
    opacity: 0;
    visibility: hidden;
    width: 292px;
}

.bloc-team .item {
    margin: 24px;
}

.owl-dots {
    display: none;
}

.t-1:hover .description {
    opacity: 1;
    visibility: visible;
    transition: all .2s ease;
}

span.description h4::after {
    content: "";
    background: black;
    width: 40%;
    height: 9%;
    position: absolute;
    left: 0;
    bottom: -6px;
}

span.description h4 {
    position: relative;
}

.post {
    margin-top: 15px;
    margin-bottom: 15px;
}

.team-e {
    margin-top: 35px;
}

.section-padding {
    margin-top: 10px;
}

.teams {
    background: url(/customerAsset/images/apropos/bg_about_personal.png);
    padding-top: 120px;
    padding-bottom: 50px;
}

.bloc-team {
    margin-top: 290px;
}

.bloc-team .title-page-content-- {
    margin-left: 25px;
}


/*.section-padding {
    margin-top: 90px;
}*/

.txt-bloc-team {
    text-align: right;
}


/* page d'accueil */

.expertise-img img {
    width: 100%;
}



.title-ex h4 {
    font-weight: bold;
    font-size: 30px;
}

.title-ex {
    margin-bottom: 25px;
}

.our-devise {
    margin-top: 60px;
}

.link-more {
    float: right;
}

.title-pr p {
    font-weight: bold;
}

.img-pro img {
    width: 100%;
}

.li-pro a {
    color: #FFB620;
}

.li-pro::before {
    content: "";
    background: #FFB620;
    width: 28%;
    height: 5%;
    position: absolute;
    left: -41px;
    top: 13px;
}

.txt-pro {
    padding-right: 172px !important;
    margin-top: 100px !important;
}

.li-pro a {
    color: #FFB620 !important;
}

.li-pro {
    position: relative;
}

.projet {
    background: #4177a7 !important;
}

.txt-pro {
    padding-right: 70px;
}

.txt-pro {
    padding-right: 150px;
    margin-top: 70px;
    color: white;
}

.txt-pro h4 {
    font-weight: bold;
}

.li-pro a:hover {
    text-decoration: none;
}

.team-home .bloc-team {
    margin-top: 60px;
}

.team-home {
    margin-top: 0;
    padding-top: 28px;
}

.img-chif-hero img {
    width: 90%;
}

.container.hero-chiffre-home h4 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 2rem;
}

.container.hero-chiffre-home {
    text-align: center;
    margin-top: 60px;
}



.img-testi {
    float: right;
}

p.tt-gr {
    font-weight: bold;
}

.img-testi img {
    width: 47%;
    position: absolute;
    left: 97px;
}

.sec-title-page {
    background: url(/customerAsset/images/contact/bg-header.png);
    padding-top: 50px;
    padding-bottom: 50px;
}

.title-page-header {
    margin-top: 60px;
}

.tt- h2 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
    text-transform: uppercase;
}

.txt-expertise p {
    font-size: 18px;
}

.testimony {
    margin-bottom: 100px;
}


/*page d'accueil section projet tabs */

.content-tabs .nav-item {
    margin-right: 57px;
    display: inline-block;
}


/*.content-tabs {
    text-align: center;
}*/

.content-tabs .nav-item a {
    color: black;
    font-size: 20px !important;
}

.content-tabs .nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #fff;
    font-weight: bold;
    background: none !important;
}

.content-tabs .tab-content {
    margin-top: 30px;
}

.tabs-item {
    position: absolute;
    z-index: 999;
    left: 49%;
    top: 5%;
}

a.tf.active {
    color: #cccf45 !important;
}

a.tf {
    color: white !important;
}

.links-tabs li {
    margin-right: 0 !important;
}

.content-tabs {
    position: relative;
}

/* a propos new style */

.sect-v-1 p {
    font-size: 16px;
}

.sect-v-1 {
    margin-bottom: 35px;
}

/* update vanessa */

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
}

.txt-bloc-team p {
    font-size: 18px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.projects-index {
    margin-top: 60px;
}

.second-link p {
    font-size: 15px;
}

.our-mission {
    margin-top: 60px;
}

.history h5 {
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 40px;
    margin-top: 40px;
}

.our-strength {
    margin-top: 60px;
}

.title-with-strength-img h5 {
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 40px;
    margin-top: 40px;
}

.second-link a {
    color: black !important;
}

.section-content-actu h5 {
    font-size: 25px;
    font-weight: 100;
}

.content-savoir-faire p {
    font-size: 18px;
}

.content-savoir-faire .owl-nav {
    display: none;
}

.title-page-content h5 {
    font-size: 25px;
    font-weight: 100;
}

.txt-chiffre {
    text-align: left;
}

.chiffre-- {
    text-align: right;
    position: relative;
    bottom: 34px;
}

.chiffre-- p {
    font-size: 83px;
    font-weight: bold;
    color: #005b7d;
}



.txt-chiffre p {
    font-size: 34px;
    line-height: 32px;
}

.separator::before {
    content: "";
    width: 1%;
    height: 50%;
    background: #212529;
    position: absolute;
    left: 19px;
}

.separator::after {
    content: "";
    width: 1%;
    height: 50%;
    background: #212529;
    position: absolute;
    right: -15px;
    top: 0;
}

.content-actu p {
    font-size: 18px !important;
}