.pagination>li>a,
.pagination>li>span {
    border-radius: 50% !important;
    margin: 0 5px;
}

.nav-pagin {
    width: 353px;
    margin: 38px auto;
}


/*pagination */

.pagination ul {
    display: flex;
    padding: 5px 20px;
    /* box-shadow: 0 0 10px rgb(0 0 0); */
}

.pagination ul li {
    position: relative;
    list-style: none;
    line-height: 50px;
    margin: 5px;
    transform: 0.4s;
}

.pagination .page_item {
    width: 50px;
    height: 50px;
    text-align: center;
}

.pagination ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: .4s;
    border: 1px solid #cecdcd;
    border-radius: 50px;
}

.pagination .page_item:hover a,
.pagination .page_item.active a {
    background-color: #FFB620;
    color: white;
}

.pagination ul li:first-child {
    margin-right: 30px;
    font-size: 30px;
}

.pagination ul li:last-child {
    margin-left: 30px;
    font-size: 30px;
}

.pagination {
    width: 500px;
    margin: 0 auto;
    margin-top: 60px;
}

.first-blog {
    margin-bottom: 100px;
}

ul.pagin .prev a {
    padding-left: 15px;
    padding-right: 15px;
}

.pagin li.next a {
    padding-left: 15px;
    padding-right: 15px;
}

.pagination .page_item a {
    border-radius: 50px;
}

ul.pagin .prev a {
    border-radius: 50px;
}

ul.pagin .next a {
    border-radius: 50px;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #FFB620;
    border-style: none;
    border-radius: 34px;
    height: 47PX;
    WIDTH: 47PX;
    padding-left: 18px;
    padding-top: 12px;
}

.pagination ul li a {
    display: block;
    text-decoration: none;
    color: black;
    font-weight: 600;
    transition: .4s;
    border: 1px solid #cecdcd;
    border-radius: 34px;
    height: 47PX;
    WIDTH: 47PX;
    padding-left: 18px;
    padding-top: 12px;
}

.page-item:first-child .page-link {
    background: #FFB620 !important;
    border-style: none;
    border-radius: 34px;
    height: 47PX;
    WIDTH: 47PX;
    padding-left: 14px;
    padding-top: 2px;
    color: white !important;
}

.page-item:last-child .page-link {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    background: #FFB620 !important;
    border-radius: 34px;
    border-style: none;
    height: 47PX;
    WIDTH: 47PX;
    padding-left: 16px;
    padding-top: 2px;
    color: white !important;
}