.item-rea p {
    margin-top: 14px;
    font-weight: bold;
}

.link-projet {
    text-align: right;
    position: relative;
    margin-top: 30px;
    margin-right: 24px;
}

.item-rea {
    margin-bottom: 50px;
}

.img-realisation img {
    width: 100%;
    height: auto;
    border-radius: 2%;
}

.link-projet a::before {
    content: "";
    width: 5%;
    height: 5%;
    background: black;
    position: absolute;
    top: 12px;
    right: 86px;
}

.link-projet a {
    color: black;
}

.link-projet a:hover {
    text-decoration: none;
}

.img-item-other img {
    width: 100%;
    height: auto;
    border-radius: 2%;
}

.img-item-other {
    margin-bottom: 20px;
}

.second-large-img img {
    width: 100%;
    height: auto;
}


