.content-une-realisation p {
    margin-top: 36px;
    font-size: 18px;
    margin-bottom: 33px;
}

.large-img-realisation img {
    width: 100%;
    height: auto;
}

.second-mini-img img {
    width: 100%;
}

.second-mini-img img {
    width: 100%;
    height: auto;
}

.sec2 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.second-large-img {
    margin-bottom: 60px;
}

.other-title {
    margin-bottom: 30px;
}

.item-other-projects a {
    color: black;
    font-weight: bold;
    font-size: 17px;
}

.item-other-projects a:hover {
    text-decoration: none;
}

.item-other-projects {
    text-align: center;
    box-shadow: 1px 2px 2px 2px #f3f3f3;
    background: white;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.item-rea p {
    font-size: 21px;
}

.item-rea {
    text-align: center;
    box-shadow: 1px 2px 2px 2px #f3f3f3;
    background: white;
    padding-bottom: 10px;
}

.item-rea .link-projet a {
    color: black;
    font-size: 18px;
    font-weight: 100;
    transition: .3s ease all;
}

.item-rea .link-projet a::before {
    content: "";
    width: 5%;
    height: 5%;
    background: black;
    position: absolute;
    top: 18px;
    right: 329px;
}

.item-rea .link-projet {
    text-align: center !important;
    position: relative;
    margin-top: 30px;
    margin-right: 24px;
}

.localisation span {
    font-size: 15px;
}

/* tabs 

.project-tab {
    padding: 10%;
    margin-top: -8%;
}
.project-tab #tabs{
    background: #007b5e;
    color: #eee;
}
.project-tab #tabs h6.section-title{
    color: #eee;
}
.project-tab #tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #0062cc;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 3px solid !important;
    font-size: 16px;
    font-weight: bold;
}
.project-tab .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #0062cc;
    font-size: 16px;
    font-weight: 600;
}
.project-tab .nav-link:hover {
    border: none;
}
.project-tab thead{
    background: #f3f3f3;
    color: #333;
}
.project-tab a{
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

.second-large-img img {
    width: 100%;
}

.img-item-other img {
    width: 100%;
}

*/

/* new tabs for realisation page */

.content-tabs .nav-item {
    margin-right: 57px;
    display: inline-block;
}

.content-tabs {
    text-align: center;
}

.content-tabs .nav-item a {
    color: black !important;
    font-size: 20px !important;
}

.content-tabs .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    font-weight: bold;
    background: none !important;
}

.content-tabs .tab-content {
    margin-top: 30px;
}

.item-rea .link-projet a:hover {
    margin-left: 21px;
}