.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide h4 {
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.swiper-slide p {
    font-size: 18px;
    width: 97%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.swiper-container-horizontal>.swiper-pagination {
    right: 0% !important;
    top: 48% !important;
    transform: translate3d(0px, -50%, 0);
    object-fit: cover;
    display: block;
    bottom: -28px !important;
}

.swiper-container {
    width: 94%;
    height: 189px !important;
    margin: 0;
    padding: 0;
}

.swiper-pagination-active {
    opacity: 1;
    /* background: var(--swiper-pagination-color, var(--swiper-theme-color));
    background: black !important; */
    object-fit: cover;
    display: block;
    bottom: -28px !important;
}

.swiper-horizontal>.swiper-pagination,
.swiper-pagination.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -28px !important;
    left: 0;
    width: 100%;
}